:root {
  /* Primary */

  --linear-gradient-active-input-border: hsl(249, 99%, 64%) to
    hsl(278, 94%, 30%);
  --red-input-errors: hsl(0, 100%, 66%);

  /* Neutral */

  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
}
.flex_space-between{
  display: flex;
  justify-content: space-between;
}
.card__image {
  max-width: 375px;
  height: 30vh;
  background: url(./images/bg-main-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem 1rem 2rem 6rem;
}

.img__position{
  position: relative;
  max-width: 100%;
}
.card__status {
  display: flex;
  position: relative;
  color: white;
  width: 100%;
}

/* card back start */
.card__back-cvc{
  position: absolute;
  top: 44%;
  left: 79%;
  color: #fff;
  letter-spacing: 0.15rem;
  font-size: 12px;
}
.card__front{
  position: relative;
  top: -4.1rem;
  right: 3.5rem;
  /* margin-top: -3.8rem; */
  /* margin-left: -3rem; */
}
/* card back end */


/* card front start */
.card__info__sec {
  position: relative;
}
.card__logo{
  margin-top: .3rem;
  width: 50px;
  
}
.card__info {
  position: absolute;
  top: 6%;
  right: 7.5%;
  width: 85%;
}
.card__number {
  margin-top: 1rem;
  margin-bottom: 0.2rem;
  letter-spacing: 0.1rem;
  font-size:18px;
  
}
.card__owenr {
  margin-top: 0.5rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 1.5rem;
}
/* card front end */