:root {
  /* Primary */

  --linear-gradient-active-input-border: hsl(249, 99%, 64%) to
    hsl(278, 94%, 30%);
  --red-input-errors: hsl(0, 100%, 66%);

  /* Neutral */

  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
}
.flex_space-between{
  display: flex;
  justify-content: space-between;
}
.row{

  /* border: 1px solid var(--light-grayish-violet); */
  border-radius: 5px;
  margin: 2rem 0;
}
.card__result{

  max-width: 375px;
  margin: 0 auto;
}
.card__image {
  max-width: 375px;
  margin: 0 auto;
  height: 27vh;
  background: url(./images/bg-main-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem 1rem 2rem 5rem;
}

.img__position{
  position: relative;
  max-width: 100%;
}
.card__status {
  display: flex;
  position: relative;
  color: white;
  width: 100%;
}

/* card back start */
.card__back-cvc{
  position: absolute;
  top: 44%;
  left: 79%;
  color: #fff;
  letter-spacing: 0.15rem;
  font-size: 12px;
}
.card__front{
  position: relative;
  top: -4.1rem;
  right: 3.5rem;
  /* margin-top: -3.8rem; */
  /* margin-left: -3rem; */
}
/* card back end */


/* card front start */
.card__info__sec {
  position: relative;
}
.card__logo{
  margin-top: .3rem;
  width: 50px;
  
}
.card__info {
  position: absolute;
  top: 6%;
  right: 7.5%;
  width: 85%;
}
.card__number {
  margin-top: 1rem;
  margin-bottom: 0.2rem;
  letter-spacing: 0.1rem;
  font-size:18px;
  
}
.card__owenr {
  margin-top: 0.5rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 1.5rem;
}
/* card front end */

/* card input start */
.card__input{
  margin-top: 4rem;
  padding: 3rem 1rem 2rem 2rem;
  text-transform: uppercase;
  display: block;
  color: var(--dark-grayish-violet);
}
input{
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  margin-top: .5rem;
  height: 2.5rem;
  border:1px solid var(--light-grayish-violet);
  border-radius: 5px;
  padding-left:1rem ;
  font-size: 16px;
}
::placeholder {
  color: var(--light-grayish-violet);
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
  
}
.date-card{
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  gap: 1rem;
}
button{
  display: block;
  width: 100%;
  height: 3.5rem;
  border: none;
  font-family: "Space Grotesk", sans-serif;
  cursor: pointer;
  background-color: var(--very-dark-violet);
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
  margin-top: 1rem;
}
button:hover{
  opacity: 0.8;
}
/* card input end */