:root {
  /* Primary */

  --linear-gradient-active-input-border: hsl(249, 99%, 64%) to
    hsl(278, 94%, 30%);
  --red-input-errors: hsl(0, 100%, 66%);

  /* Neutral */

  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
}

.card__result {
  max-width: 375px;
}

/* card front start */

.card__front {
  display: flex;
  position: relative;
  color: white;
  width: 100%;
}

.img__front {
  position: relative;
  max-width: 100%;
}

.card__info__sec {
  position: relative;
}

.card__info {
  position: absolute;
  top: 6%;
  right: 7.5%;
  width: 85%;
}

.card__number {
  display: flex;
  justify-content: space-between;
  margin-top: 1.2rem;
  margin-bottom: 0.2rem;
  letter-spacing: 0.25rem;
  font-size: 1.375rem;
  
}

.card__owenr,
.card__exp_date {
  display: flex;
  justify-content: space-between;
}

.card__owenr {
  margin-top: 1.2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

/* card front end */